@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply w-full h-screen overflow-hidden;
  }

  html {
    font-family: 'Red Hat Display', sans-serif;
  }

  .wrapper {
    @apply relative w-full h-full;
  }

  .rect {
    @apply absolute bg-rect rounded-lg;
  }

  .item {
    @apply absolute bg-none rounded-[5px];
  }

  @keyframes slide-1 {
    0% {
      left: 20px;
    }
    15% {
      left: 60px;
    }
    30% {
      left: 60px;
    }
    45% {
      left: 20px;
    }
    100% {
      left: 20px;
    }
  }

  @keyframes slide-2 {
    0% {
      left: 64px;
    }
    20% {
      left: 20px;
    }
    40% {
      left: 20px;
    }
    60% {
      left: 64px;
    }
    100% {
      left: 64px;
    }
  }

  @keyframes choose {
    0% {
      @apply bg-none;
    }
    8% {
      @apply bg-white;
    }
    25% {
      @apply bg-white;
    }
    32% {
      @apply bg-none;
    }
    100% {
      @apply bg-none;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}